/* generics */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
}

/* utilities */

/* content */

#container {
    display: flex;
    flex-wrap: wrap;
}

.square {
    border: 2px solid black;
    width: 100px;
    height: 100px;
}

.Fizz {
    background-color: aqua;
    color: black;
}

.Buzz {
    background-color: greenyellow;
    color: black;
}

.FizzBuzz {
    background-color: gold;
    color: #999;
}